body {
	background-color: #af8c9d;
	background-image: linear-gradient(315deg, #af8c9d 0%, #8cacac 74%);
	background-size: cover;
	background-repeat: repeat;
	width: 60%;
	margin-left: 20%;
}

#but {
	text-align: center;
}

#page {
	width: 130px;
}

table {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid black;
	text-align: center;
}

th, td, tr {
	border: 1px solid black;
	text-align: center;
	padding: 10px;
}

th {
	background: #00bfff;
}

input:disabled {
	background: #ffffff;
}

input:focus {
	outline: none;
	background:#D3D3D3;
}

.w3-hover-gray:hover {
	/*background-color:#4CAF50;
	background-color:#D3D3D3;*/
}

input {
	padding:8px;
	border:none;
	border-bottom:1px solid #ccc;
	font-size: 18px;
}

#abc {
	background: #ffffff;
	border-radius: 15px;
	padding: 40px;
}

.Button1 {
	text-align: center;
}

Button {
	height: 35px;
	width: 100px;
	background-color: #D3D3D3;
	border-radius: 10px;
}

#title1 {
	margin-left: 20px;
	font-size: 40px;
}

#title2 {
	font-size: 20px;
	margin-left: 20px;
}

.name {
	margin-left: 20px;
	height: 25px;
	width: 350px;
}

.email {
	width: 260px;
}

.india {
	width: 35px;
}

.street {
	width: 350px;
}

.city {
	width: 200px;
}
