
/* .main-content{
    width: 60%;
    margin: 40px auto;
    overflow: auto;
}
.inner-content{
    float: left;
    position: relative;
    overflow: hidden;
    padding: 3px;
    border:1px solid grey;
}
.inner-content img{
    display: none;
    width: 100%;
    height: 600px;
}
.inner-content img.active-img{
    display: inline-block
}
.prev,.next{
    float: left;
    margin-top: 300px;
    cursor: pointer;
}.prev{
    position: relative;
    margin-right: -45px;
    z-index: 100;
}
.next{
    position: relative;
    margin-left: -45px;
    z-index: 100;
} */
/* #slider {
	overflow: hidden;
}
#slider figure {
	position: relative;
    width: 300%;
    height: 300px;
	margin: 0;
	left: 0;
	animation: 10s slider infinite;
}
#slider figure img {
	float: left;
	width: 20%;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
} */


.card{
	margin: auto;
	background-color: whitesmoke;
    display: flex;
	width:70%;
	justify-content: space-between
}

.cards1,.cards2,.cards3{
	display: flex;
	font-family:Georgia, 'Times New Roman', Times, serif;
	background-color: whitesmoke;
	flex-direction: column;
    width:30%;
	margin: 30px;
	padding: 40px;
	box-shadow: 0 10px 30px rgba(0, 0,0, 0.3);
	transition: 0.5s ease;
}

.cards1:hover{
	color: white;
	background-color: #178297;
	transition: 0.5s ease;
	transform: scale(1.05,1.05);
	box-shadow: 0 10px 30px rgba(0, 0,0, 0.8);

}
.cards3:hover{
	color: white;
	background-color: blueviolet;
	transition: 0.5s ease;
	transform: scale(1.05,1.05)
}
.cards2:hover{
	color: white;
	background-color: palevioletred;
	transition: 0.5s ease;
	transform: scale(1.05,1.05)
}
.cards1 a,.cards2 a, .cards3 a{
	margin-top: 30px;
	color: rgba(23, 45, 246, 0.801);
	padding: 3px 6px;
	margin-right: auto;
	font-size: 18px;
	transition: 0.5s ease;
	text-decoration: underline;
	
}
.cards1 h2,.cards2 h2, .cards3 h2{
	font-size: 30px;
}

.cards1 p,.cards2 p, .cards3 p{
	font-size: 18px;
}

.cards1 a:hover,.cards2 a:hover, .cards3 a:hover{
	color:white;
}

.home-text{
	margin:10px auto;
	width: 70%;
	background-color: rgba(245, 245,245, 1);
}

.home-text1{

	margin: 0px 30px;
	padding: 20px 0px;
}




