
.login-div{
  margin:100px auto;
  display: flex;
  flex-direction: column;
  width: 25%;
  text-align: center;
  border-radius: 5;
  box-shadow: 0 0 8px 8px rgba(0,0,0,0.4)
}

.login-image{
  display: inline;
  text-align: left;
  color: black;
  margin: 10px;
  margin-right:auto 
}

.login-image p{
  font-size: 35px;
  padding :2px 5px;
  border-bottom: 8px solid #696969;
}
.login-main{
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}
.txtbox,.txtbox1{
  border-bottom: 2px solid #696969;
  margin: 15px;
}
.txtbox span,.txtbox1 span{
  font-family: fontAwesome;
  font-size: 17px;
  color: black;

}
.txtbox input,.txtbox1 input{
  border: none;
  background :none;
  font-size: 20px;
  padding: 8px 5px;
  width:90%;
  color:black;
}

.txtbox input::placeholder,.txtbox1 input::placeholder{
  color:black;
  opacity: 1;
}

.login-main a{
  margin: 0 15px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 16px;
  margin-right: auto;

}


#login-btn{
  background-color:inherit;
  margin: 0px 15px;
  margin-top: 5px;
  margin-bottom: 8px;
  color: black;
  border-radius: 5; 
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.4);
  transition: 0.4s ease;
}

#login-btn:hover{
  color:white;
  transform: scale(1.05,1.05);
  background: black;
}

.login-account{
  padding: 2px 0;
  margin: 10px;
  margin-top: 2px; 
  color: black; 
}
.rdm{
  font-size:17px; 
}

