html{
    height:100%;
}
body{
    background-color: #af8c9d;
    background-image: linear-gradient(315deg, #af8c9d 0%, #8cacac 74%);
    background-size: cover;
    background-repeat: repeat;
}
.center{
    margin: auto;
    background-color: rgb(245, 245, 245);
    width:70%;
    height: 765px;
    border: 0.3px solid grey;
    color: black;
    padding: 10px;
}
div.box{
    box-sizing: border-box;
    width: 25%;
    height: 75px;
    border: 1.5px solid black; 
    background-color: black; 
    float: left;
    text-align:center;
    font-size: 45px;
}
.dropbtn{
    background-color: black;
    color: white;
    padding: 27px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover{
    color: grey;
}
.cont{
    width:95%;
    border: 0.3px solid grey;
    background-color: whitesmoke;
    padding: 25px;
}