html{
    height:100%;
}
body{
    background-image: linear-gradient(grey,white);
    background-repeat: no-repeat;
    background-size: cover;
}
.center{
    margin: auto;
    background-color: rgb(245, 245, 245);
    width:60%;
    height: 500px;
    border: 2px solid grey;
    color: black;
    padding: 10px;
}