body {
	background: #00bfff;
}

.column {
	float: left;
}

.left {
	border-radius: 15px 0px 0px 15px;
	width: 22.5%;
	height: 100%;
	text-align: center;
	margin-top:15px;
}

#name {
	font-size: 40px;
	margin-bottom: 5px;
}

#username {
	font-size: 20px;
	margin-bottom: 30px;
}

#points {
	color: #003366;
	font-size: 25px;
	margin-bottom: 20px;
}

.middle {
	width: 5%;
	height: 100%;
}

#details {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
}

#contacts {
	font-size: 25px;
	padding-bottom: 5px;
}

.right {
	border-radius: 0px 15px 15px 0px;
	width: 72.5%;
	height: 100%;
	padding-top: 25px;
}

.contentScreen {
	border-radius: 10px 10px 10px 10px;
	height: 585px;
	margin-top: 30px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 10px;
	background-color: #FFFFFF;
} 