html{
    height:100%;
}

#txt{
    font-size: 35px;
    padding :2px 5px;
    border-bottom: 8px solid #696969;
}
.register-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 10px auto;
    background-color: white;
    box-shadow: 0 0 8px 8px rgba(0,0,0,0.4);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#register-content{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: white;
}
.register-text{
    display: inline;
    color: black;
    margin: 10px;
    margin-right:auto;
}

.register-cont,.register-cont1,.register-cont2,.register-cont3,.register-cont4{
    border: none;
  background :none;
  font-size: 20px;
  padding: 0px 5px;
  color:black;
  border-bottom: 2px solid #696969;
  margin: 15px 5px;

}

.register-cont input,.register-cont1 input,.register-cont2 input,.register-cont3 input,.register-cont4 input{
    border: none;
    background :none;
    font-size: 20px;
    padding: 8px 5px;
    width:90%;
    color:black;
}

.register-cont input::placeholder,.register-cont1 input::placeholder,.register-cont2 input::placeholder,.register-cont3 input::placeholder,.register-cont4 input::placeholder{
    color:black;
  opacity: 1;
}

.register-cont span,.register-cont1 span,.register-cont2 span,.register-cont3 span,.register-cont4 span{
    font-family: fontAwesome;
  font-size: 17px;
  color: black;
}
.lower input[type="checkbox"]{
    margin:10px 5px;
    margin-top: 20px;
    font-size: 20px;
}
#but{
    background-color:inherit;
  margin: 20px 15px;
  color: black;
  border-radius: 5; 
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.4);
  transition: 0.4s;
}
#but:hover{
    color:white;
    transform: scale(1.05,1.05);
    background: black;
  }
